<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:redis="http://www.springframework.org/schema/redis"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/redis http://www.springframework.org/schema/redis/spring-redis.xsd">

    <!--指定配置文件的位置-->
    <context:property-placeholder location="classpath:config/redis.properties"/>

    <!--初始化连接池配置-->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="${redis.maxIdle}"/>
        <property name="maxTotal" value="${redis.maxTotal}"/>
    </bean>

    <!--配置 jedis 连接池-->
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg name="poolConfig" ref="jedisPoolConfig"/>
        <constructor-arg name="host" value="${redis.host}"/>
        <constructor-arg name="port" value="${redis.port}"/>
        <constructor-arg name="timeout" value="${redis.timeout}"/>
        <constructor-arg name="password" value="${redis.password}"/>
    </bean>

    <!--把 jedis 创建与销毁交给 spring 来管理-->
    <bean id="jedis" factory-bean="jedisPool" factory-method="getResource" destroy-method="close"/>

    <!-- 配置redis连接密码 -->
    <bean id="redisPassword" class="org.springframework.data.redis.connection.RedisPassword">
        <constructor-arg name="thePassword" value="${redis.password}"></constructor-arg>
    </bean>
    <!--枚举注入方式-->
<!--    <bean id="masterRedis" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">-->
<!--        <property name="staticField" value="org.springframework.data.redis.connection.RedisNode.NodeType.MASTER" />-->
<!--    </bean>-->
<!--    &lt;!&ndash; redis单机配置，地址等在这配置 2.0以上的新特性 &ndash;&gt;-->
<!--    <bean id="redisSentinelConfiguration" class="org.springframework.data.redis.connection.RedisSentinelConfiguration">-->
<!--        <property name="sentinels">-->
<!--            <set>-->
<!--                <bean class="org.springframework.data.redis.connection.RedisNode">-->
<!--                    <constructor-arg name="host" value="${redis.host}"/>-->
<!--                    <constructor-arg name="port" value="${redis.port}"/>-->
<!--                    <property name="name" value="myMaster"/>-->
<!--                </bean>-->
<!--            </set>-->
<!--        </property>-->
<!--        <property name="password" ref="redisPassword"/>-->
<!--        <property name="database" value="${redis.database}"/>-->

<!--    </bean>-->
<!--    <bean id="redisClusterConfiguration" class="org.springframework.data.redis.connection.RedisClusterConfiguration">-->
<!--        <property name="clusterNodes">-->
<!--            <list>-->
<!--                <bean class="org.springframework.data.redis.connection.RedisNode">-->
<!--                    <constructor-arg index="0" value="${redis.password}"/>-->
<!--                    <constructor-arg index="1" value="${redis.database}"/>-->
<!--                    <property name="name" value="mymaster"/>-->
<!--                </bean>-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->

<!--    &lt;!&ndash; Jedis ConnectionFactory 数据库连接配置，注意id名称必须为redisConnectionFactory&ndash;&gt;-->
<!--    <bean id="redisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">-->
<!--        <constructor-arg index="0" ref="redisClusterConfiguration" />-->
<!--        <constructor-arg index="1" ref="jedisPoolConfig" />-->
<!--    </bean>-->
    <!--实现单机模式线程池的配置-->
    <bean id="jedisClientConfiguration" class="org.springframework.data.redis.connection.jedis.DefaultJedisClientConfiguration">
        <constructor-arg index="0" value="false" />
        <constructor-arg index="1"><null /></constructor-arg>
        <constructor-arg index="2"><null /></constructor-arg>
        <constructor-arg index="3"><null /></constructor-arg>
        <constructor-arg index="4" value="true" />
        <constructor-arg index="5" ref="jedisPoolConfig" />
        <constructor-arg index="6"><null /></constructor-arg>
        <constructor-arg index="7" value="#{T(java.time.Duration).ofMillis(10000)}" />
        <constructor-arg index="8" value="#{T(java.time.Duration).ofMillis(20000)}" />
    </bean>

    <!-- redis单机配置，地址等在这配置 2.0以上的新特性 -->
    <bean id="redisStandaloneConfiguration" class="org.springframework.data.redis.connection.RedisStandaloneConfiguration">
        <property name="hostName" value="${redis.host}"/>
        <property name="port" value="${redis.port}"/>
        <property name="password" ref="redisPassword"/>
        <property name="database" value="${redis.database}"/>

    </bean>

    <!-- Jedis ConnectionFactory 数据库连接配置，注意id名称必须为redisConnectionFactory-->
    <bean id="redisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <constructor-arg index="0" ref="redisStandaloneConfiguration" />
        <constructor-arg index="1" ref="jedisClientConfiguration" />
    </bean>

    <!--创建redis模板-->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="redisConnectionFactory"/>
    </bean>
</beans>
